body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f8f2e7; /* ngjyra kremi */
  color: #333;
}

header {
  background-color: #c6a77d;
  color: white;
  text-align: center;
  padding: 30px 15px;
}
div {
  background-image:
    url(https://1drv.ms/i/c/3e2df9e57f880fdb/ESPkWt9zZBhCnV_5xb13LQ4BteiOGta4ToT1ZaZ8JAaVgA?e=3enzWE), url("main-back.png"); /* Applies two images to the background */
  background-position:
    top right,
    0px 0px;
  background-origin: content-box, padding-box;
}

.call-button {
  background: white;
  color: #c6a77d;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.services, .gallery {
  padding: 30px 20px;
  max-width: 800px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
}